@{
    Layout = "AnaLayout";
}

<!-- BLOG GRID SAYFASI ÖZEL STİLLERİ -->
<style>
    /* 0. GENEL SAYFA ARKA PLANI (YENİ EKLENDİ) */
    body, html {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    /* 1. Sayfa İçerik Alanı Arka Planı */
    .sidebar-page-container {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    /* 2. Page Title (Başlık Alanı) - GOLD TEMA */
    .page-title {
        background-color: #dabd82 !important; /* Gold Arka Plan */
        background-image: none !important;
    }

        .page-title h2 {
            color: #000000 !important; /* Siyah Yazı */
        }

        .page-title .bread-crumb li,
        .page-title .bread-crumb li a {
            color: #000000 !important; /* Breadcrumb Siyah */
        }

            .page-title .bread-crumb li a:hover {
                color: #ffffff !important;
            }

    /* 3. Blog Kartları (News Block - Grid Yapısı) */
    .news-block .inner-box {
        background-color: #0a0a0a !important; /* Kutu içi koyu gri (Siyaha yakın) */
        border: 1px solid #333 !important; /* İnce gri kenarlık */
        box-shadow: none !important;
        transition: all 0.3s ease;
    }

        .news-block .inner-box:hover {
            border-color: #dabd82 !important; /* Hoverda gold kenarlık */
        }

    .news-block .lower-content {
        background-color: transparent !important;
    }

        .news-block .lower-content h5 a {
            color: #000 !important; /* Başlık Beyaz */
        }

            .news-block .lower-content h5 a:hover {
                color: #dabd82 !important; /* Hover Gold */
            }

        /* Yazar ve Tarih Bilgisi */
        .news-block .lower-content .info {
            color: #dabd82 !important; /* Tarih/Bilgi Gold */
        }

            .news-block .lower-content .info span {
                color: #cccccc !important; /* Yazar ismi açık gri */
            }

        .news-block .lower-content .author img {
            border: 2px solid #000 !important; /* Yazar resmi kenarlığı */
        }

    /* 4. Buton Stili (View More) */
    .theme-btn.btn-style-one {
        background-color: #ffffff !important; /* Beyaz Buton */
        color: #000000 !important; /* Siyah Yazı */
        border-color: #ffffff !important;
    }

        .theme-btn.btn-style-one:hover {
            background-color: #dabd82 !important; /* Hover Gold */
            border-color: #dabd82 !important;
            color: #000000 !important;
        }

    /* 5. Sayfalama (Pagination) */
    .styled-pagination li a {
        color: #ffffff !important;
        background-color: transparent !important;
        border: 1px solid #333 !important;
    }

    .styled-pagination li.next a,
    .styled-pagination li.prev a {
        color: #ffffff !important;
        background-color: #000 !important;
    }

    .styled-pagination li a:hover,
    .styled-pagination li a.active {
        background-color: #dabd82 !important;
        color: #000000 !important;
        border-color: #dabd82 !important;
    }
</style>

<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">
        <h2>Blog Yazıları</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Ana Sayfa</a></li>
            <li>Blog Listesi</li>
        </ul>
    </div>
</section>
<!-- End Page Title -->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- News Block 1 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Moda</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-1.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">Size Yardımcı Olacak 10 Basit Ürün</a></h5>
                            <div class="info">Yazar: <span>Ahmet Yılmaz</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block 2 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Trend</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-2.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">Pazarlanan Basit Moda Ürünleri</a></h5>
                            <div class="info">Yazar: <span>Ayşe Demir</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block 3 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Yaşam</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-3.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">Hızlı Pazarlanan Moda Ürünleri</a></h5>
                            <div class="info">Yazar: <span>Mehmet Can</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block 4 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Koku</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-4.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">En İyi Moda Ürünleri Pazarlaması</a></h5>
                            <div class="info">Yazar: <span>Selin Kara</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block 5 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Stil</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-1.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">Pazarlanan En İyi Moda Ürünleri</a></h5>
                            <div class="info">Yazar: <span>Caner Erkin</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block 6 -->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="news-block">
                    <div class="inner-box">
                        <div class="image">
                            <div class="tag">Tasarım</div>
                            <a href="blog-detail.html"><img src="~/html/assets/images/resource/news-2.jpg" alt="24short-img"></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">
                                <img src="~/html/assets/images/resource/author-1.jpg" alt="24short-img">
                            </div>
                            <h5><a href="blog-detail.html">En İyi Moda Ürünleri Pazarlaması</a></h5>
                            <div class="info">Yazar: <span>Elif Su</span> <i>23 Eylül 2023</i></div>
                            <a href="blog-detail.html" class="theme-btn btn-style-one">
                                İncele <span class="icon flaticon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Styled Pagination -->
            <ul class="styled-pagination text-center">
                <li class="next"><a href="#"><span class="fa fa-angle-double-left"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#"><span class="fa fa-angle-double-right"></span></a></li>
            </ul>
            <!-- End Styled Pagination -->
        </div>

    </div>
</div>